@import "tailwindcss";

@font-face {
  font-family: "ZiyouFanghua";
  src: url("/assets/字由芳华体.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fangyuanti";
  src: url("/assets/alimama/AlimamaFangYuanTiVF-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f0f0f0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: radial-gradient(
    circle at top,
    #ffffff 0%,
    #f0f6f6 40%,
    #f0f0f0 100%
  );
}

.font-ziyou {
  font-family: ZiyouFanghua, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.font-fangyuanti {
  font-family: fangyuanti, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
